  
<div class="aboutContainer">
    <h2>About Me</h2>
    <p>I'm a final-year Electronics and Communication Engineering student at JIIT Noida, passionate about leveraging technology to solve real-world problems. Currently, I'm working as a Software Intern at Axeno Consulting, where I'm gaining hands-on experience in software development and problem-solving. With a strong interest in data analytics, web development, and business intelligence, I'm eager to apply my skills and collaborate on innovative projects. Let’s connect and explore opportunities together!</p>
</div>