footer {
    background: #24262b;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    max-width: 100vw; 
    display: flex;
    justify-content: center;
    box-sizing: border-box; 
    overflow-x: hidden; 
}
